/* Styles for default (no media query) */
.ArticleFeed {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.ArticleFeed-title {
    text-align: center;
}

.ArticleFeed-articles {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    max-width: 100%;
}

.ArticleFeed-navigation {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
