.Card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Card {
    border: 1px solid gray;
    margin: 10px auto;
    max-width: 23%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    cursor: pointer;
}

.Card-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
}

.Card-content {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-bottom: 5px;
    flex: 2;
}

.Card-content h3 {
    max-height: 50%;
    font-weight: 500;
    font-size: 15px;
}

.Card-content h5 {
    margin: 0 auto;
    flex-grow: 1;
    font-weight: 500;
    padding-top: 6px;
    font-size: 10px;
}

.Card-content span {
    flex-grow: 1;
    font-weight: 400;
    font-size: 10px;
}

/* Styles for screens smaller than 480px */
 @media screen and (max-width: 479px) {
    .Card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .Card {
        border: 1px solid gray;
        margin: 10px auto;
        max-width: 100%;
        display: flex;
        flex-direction: row;
    } 

    .Card-content {
        margin-left: 10px;
        flex: 2;
    }

    .Card-image{
        height: 100%;
        width: 100%;
        flex: 1;
        object-fit: cover;
    } 
}
  
  /* Styles for screens between 480px and 767px */
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .Card {
        max-width: 48%;
    }   
}
