.ListItem-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ListItem {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.selected {
    background-color: aquamarine;
}