.Modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(169, 169, 169, 0.8);
}

  .Modal-container{
    position: fixed;
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
    padding: 10px;
    background-color: #fff;
    overflow: scroll;
    display: flex;
    justify-content: space-evenly;
  }

  .Modal-select-container {
    display: flex;
    justify-content: space-evenly;
  }

  .Modal-select {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .Modal-button {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .Modal-button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px;
    color: darkgray;
    border: none;
    cursor: pointer;
  }

  .Modal-list-container {
    display: flex;
    flex-direction: row;
  }

  .Modal-list {
    width: 48%;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    position: relative;
    padding-left: 20px;
  
    &:before {
      content: '✗';
      position: absolute;
      left: 0;
      color: red;
      font-size: 16px;
    }
  }